

$main-purple: #7581a9;
$light-purple: #A5B1D0;
$dark-purple: #313A51;
$box-shadow-gray: #C8C8C8;

body {
  max-width: 100%;
}

/* Navbar */
.navbar {
  padding: 0.7rem 0;
  opacity: 0.9;
  max-width: 100%;

  .navbar-brand {
    color: $dark-purple;
    text-align: center;
    font-family: 'Grand Hotel', cursive;
    font-size: 2rem;
  }
}

/* Main Header */

.header {
  max-width: 100%;
  height: 29rem;
  margin-top: 5rem;
  position: relative;
  background-color: #DEDEDE;
  background-image: url("../images/water.jpg");
  background-size: cover;
  text-align: center;
  color: white;
}

.header-text {
  padding-top: 3rem;

  h1 {
    font-weight: 200;
  }
}

.header-button-grp {
  opacity: 0.8;
}

.nav-logo:hover {
  opacity: 0.7;
}

.fa {
  color: $main-purple;
}

.fa:hover {
  opacity: 0.8;
}

/* Social header section */
#social-header {
  margin: 0 auto;
  height: 5.2rem;
  background-color: $dark-purple;
  width: 100%;
  padding: 3.3rem 0;

  a {
    font-size: 1.2rem;
    font-weight: 200;
    padding: 0.7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 1rem;
  }
}

@media only screen and (max-width: 780px) {
  #social-header {
    a {
      font-size: 1rem;
      padding: 0.5rem;
      margin: 0.1;
    }
  }
}

/* Skill Cards */
#skill-cards-section {
  text-align: center;
  padding: 4rem 0;

  .fa-3x {
    margin-bottom: 2rem;
  }

  .col {
    display: flex;
    flex-direction: row;
  }

  .card {
    width: 18rem;
    margin: 0 1rem;
    padding: 1rem 0;
    border: none;
    color: #6D6D6D;
    background-color: white;
    box-shadow: 5px 5px 20px $box-shadow-gray;

    .fa-3x {
      color: $main-purple;
    }

    p {
      font-size: 1rem;
    }
  }

  .lead {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 780px) {
  #skill-cards-section {
    .col {
      flex-direction: column;
      align-items: center;
    }

    .card {
      padding: 0.5rem 0;
      margin: 1rem 0;
    }
  }
}

/* About paragraph */
#about-paragraph {
  height: 35rem;
  text-align: center;
  background-color: $dark-purple;
  color: white;

  .display-2 {
    padding-bottom: 1rem;
    color: $main-purple;
    font-weight: 200;
  }

  a {
    font-size: 1.3rem;
    font-weight: 200;
    padding: 0.7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 1rem;
    margin-top: 1rem;
  }
}

/* Portfolio Section */
#portfolio-section {
  text-align: center;
  padding: 5rem 2rem;

  .display-2 {
    padding-bottom: 5rem;
    color: $light-purple;
    font-weight: 200;
  }

  .project-info {
    margin-bottom: 2rem;
  }

  img {
    height: 270px;
    border-radius: 5px;
  }

  a {
    position: relative;
    text-align: center;
    color: white;
  }

  p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  span {
    font-size: 1.6rem;
  }

  .first {
    font-weight: 100;
  }

  .last {
    font-weight: 600;
  }

  .col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 780px) {
  #portfolio-section {
    .col {
      flex-direction: column;
    }
  }

}

/* Contact Section */
#contact-section {
  background-color: $dark-purple;
  color: white;
  padding: 5rem 0;

  .title {
    margin: 0;
    color: $light-purple;
    font-weight: 400;
  }

  .col-md-8 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    max-width: 100%;
  }

  .text {
    font-weight: 200;
    font-size: 1.1rem;
  }

  a {
    color: white;
  }

  a:hover {
    text-decoration: none;
    opacity: 0.7;
  }
}

.contact-icons {
  display: flex;
  flex-direction: column;

  path {
    color: $main-purple;
  }
}

@media only screen and (max-width: 780px) {
  #contact-section {
    .col-md-8 {
      flex-direction: column;
      text-align: center;
    }

    .contact-icons {
      flex-direction: row;
    }

    .icon-row {
      padding: 1rem 1rem 3rem 1rem;
    }

    .col-md-4 {
      display: flex;
      align-items: center;
    }
  }
}

/* Footer Section */
#footer-section {
  height: 7rem;
  background-color:$light-purple;

  p {
    font-size: 0.9rem;
    text-align: center;
    padding-top: 4rem;
    color: white;
  }
}

@media only screen and (max-width: 780px) {
  .navbar {
    .navbar-brand {
      margin-left: 2rem;
    }

    .navbar-toggler {
      margin-right: 2rem;
    }
  }
}
